<% content_for(:head) do %>
    <%= javascript_include_tag "chat/main" %>
<% end %>
<h1><%= notice %></h1>

<h1> main page</h1>

<%= text_field_tag "friend_username","username here" %>
<%= button_tag "Add Friend", :id => "add_friend_button" %>
<br/><br/>
<%= link_to "Log out", session_logout_path %>