<% content_for(:head) do %>
    <%= javascript_include_tag "chat/main" %>
<% end %>
<h1><%= notice %></h1>

<h1> main page</h1>

<%= text_field_tag "friend_username","username here" %>
<%= button_tag "Add Friend", :id => "add_friend_button" %>
<br/><br/>
<%= link_to "Log out", session_logout_path %>

<ul id="friend_list">
 <% @friend_list.each do |friend| %>
    <li><%= friend.username %>-------<%= link_to "remove", chat_remove_friend_path(:username => friend.username) %></li>
 <% end %>
</ul>